.tags {
  display: flex;
  margin: 10px 10px;
  padding: 10px;
  width: 80%;
  flex-wrap: nowrap;
}

.tag{
  background-color: #ffcccb;
  padding: 20px;
  margin: 5px;
  border: 1px solid #000;

  /* 최소 너비 */
  min-width: 50px;
  text-align: center;
}

.inner .item2 {
  flex: 1;
}

.example1 .flex-3 {
  flex: 1;
}