  #toggle-panel, #toggleExpand { display: none; }

    /* 오른쪽 상세 패널 */
    .panel-header {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      background: #fff;
      overflow: hidden;
      border-left: 1px solid #ddd;
      transition: width 0.3s ease;
    }

    /* 열렸을 때 */
    #toggle-panel:checked ~ .detail-panel {
      width: 50%;
      resize: horizontal;  /* 가로 크기 조절 가능 */
      overflow: auto;
      min-width: 300px;
      max-width: 100%;
    }
    #toggle-panel:checked ~ #toggleExpand:checked ~ .detail-panel,
    #toggleExpand:checked ~ .detail-panel {
      width: 100% !important;
    }

    
    .panel-main {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      border-bottom: 1px solid #eee;
      background: #fafafa;
    }

    .panel-body { padding: 15px; }

    .task-button {
      cursor: pointer;
      display: inline-block;
      background: #d3c0a6;
      color: #fff;
      padding: 6px 12px;
      border-radius: 5px;
      user-select: none;
    }