.task-panel {
  position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: auto;
      min-height: 100%;
      bottom: 0;
      background: #fff;
      overflow: hidden;
      border-left: 2px solid #ddd;
      transition: width 0.3s ease;
}

#togglePanel:checked ~ .task-panel {
  width: 50%;
  overflow: auto;
  min-width: 300px;
  max-width: 100%;
}

#togglePanel:checked ~ #resizeToggle:checked ~ .task-panel {
  width: 100%; 
}


/* 체크되면 열림 */
#togglePanel:checked ~ .task-panel {
  width: 50%;
      resize: horizontal;  /* 가로 크기 조절 가능 */
      overflow: auto;
      min-width: 300px;
      max-width: 100%;
}

/* .resize-btn, .close-btn {
  cursor: pointer;
  padding: 6px 12px;
    width: 100px;
  height: 40px;
  background-color: var(--side);
  color: var(--header);
  border: none;
  margin-right: 10px;
  border-radius: var(--radius);
} */

.task-list {
  margin-top: 20px;
  font-size: 16px;
}
.task-row {
  display: flex;
}
/* .task-row.header {
  font-weight: bold;
  
} */

.cell {
  flex: 1;
  padding: 10px 15px;
  text-align: center;
}
.resize-btn, .close-btn {
  cursor: pointer;
  display: inline-block;
  background: #d3c0a6;
  color: #fff;
  padding: 2px 6px;
  font-size: 12px;
  width: auto;
  height: auto;
  border-radius: 5px;
  user-select: none;
}

    .panel-header {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      border-bottom: 1px solid #eee;
      background: #fafafa;
    }

    .panel-body { padding: 15px; }

    .title {
      flex: 1;
      text-align: center;
      font-weight: bold;
    }