<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comment-tag.html</title>
  <link rel="stylesheet" href="../../css/layout.css">
  <link rel="stylesheet" href="../../css/main.css">
  <link rel="stylesheet" href="../../css/component/commet_tag.css">
</head>

<body>
  <div class="container">
    <div class="main">
      <!-- 태그 -->
      <div class="tags ">
        <div>
          <h2>Tag</h2>
        </div>
        <div class="tag-add">
          <div class="selectedTagsWrapper">
            <div class="selectedTags">
              <div class="selected-tag">
                <span style="color: [color값];">태그명값</span></div>
              <div class="selected-tag">
                <span style="color: [color값];">태그명</span>
              </div>
              <div class="selected-tag">
                <span style="color: [color값];">태그명</span>
              </div>
              <div class="selected-tag">
                <span style="color: [color값];">태그명</span>
              </div>
              <div class="selected-tag">
                <span style="color: [color값];">태그명</span>
              </div>
            </div>
          </div>
          <div class="tagToggleWrapper">
            <button class="tagToggle">+</button>
            <div class="tag-modal">
              <div class="modal-new">
                <div class="modal-top">
                  <input class="tag-top-input" type="text" placeholder="new 태그">
                  <input class="tag-top-input" type="text" placeholder="new 색상">
                </div>
                <div class="modal-footer">
                  <button class="tag-btn">생성</button>
                  <button class="tag-btn">제거</button>
                </div>
              </div>
              <hr />
              <div class="tag-itemsWrapper">
                <input class="tag-item-input" type="checkbox" id="tag1">
                <label for="tag1">
                  <span style="color: color값;"></span>태그명값
                </label>
                <input class="tag-item-input" type="checkbox" id="tag2">
                <label for="tag2">
                  <span style="color: color값;"></span>태그명값
                </label>
                <input class="tag-item-input" type="checkbox" id="tag3">
                <label for="tag3">
                  <span style="color: color값;"></span>태그명값
                </label>
                <input class="tag-item-input" type="checkbox" id="tag1">
                <label for="tag1">
                  <span style="color: color값;"></span>태그명값
                </label>
                <input class="tag-item-input" type="checkbox" id="tag2">
                <label for="tag2">
                  <span style="color: color값;"></span>태그명값
                </label>
                <input class="tag-item-input" type="checkbox" id="tag3">
                <label for="tag3">
                  <span style="color: color값;"></span>태그명값
                </label>
                <input class="tag-item-input" type="checkbox" id="tag1">
                <label for="tag1">
                  <span style="color: color값;"></span>태그명값
                </label>
                <input class="tag-item-input" type="checkbox" id="tag2">
                <label for="tag2">
                  <span style="color: color값;"></span>태그명값
                </label>
                <input class="tag-item-input" type="checkbox" id="tag3">
                <label for="tag3">
                  <span style="color: color값;"></span>태그명값
                </label>
                <input class="tag-item-input" type="checkbox" id="tag1">
                <label for="tag1">
                  <span style="color: color값;"></span>태그명값
                </label>
                <input class="tag-item-input" type="checkbox" id="tag2">
                <label for="tag2">
                  <span style="color: color값;"></span>태그명값
                </label>
                <input class="tag-item-input" type="checkbox" id="tag3">
                <label for="tag3">
                  <span style="color: color값;"></span>태그명값
                </label>
                <input class="tag-item-input" type="checkbox" id="tag1">
                <label for="tag1">
                  <span style="color: color값;"></span>태그명값
                </label>
                <input class="tag-item-input" type="checkbox" id="tag2">
                <label for="tag2">
                  <span style="color: color값;"></span>태그명값
                </label>
                <input class="tag-item-input" type="checkbox" id="tag3">
                <label for="tag3">
                  <span style="color: color값;"></span>태그명값
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment-header">
        <!-- 코멘트 -->
        <div>
          <h2>Comment</h2>
        </div>
      </div>
      <div class="comments inner1">
        <div class="comment item1">
          <input class="comment-text" type="text" placeholder="코멘트 내용을 입력해주세요.">
        </div>
        <div class="comment item2">
          <button class="comment-btn">확인</button>
        </div>
      </div>

      <div class="comments-out inner2">
        <div class="comment-field item1">
          <div>작성자값</div>
        </div>
        <div class="comment-field item2">
          <div>내용값</div>
        </div>
        <div class="comment-field item3">
          <div>날짜값</div>
        </div>
      </div>
      <div class="comments-out inner2">
        <div class="comment-field item1">
          <div>작성자값</div>
        </div>
        <div class="comment-field item2">
          <div>내용값</div>
        </div>
        <div class="comment-field item3">
          <div>날짜값</div>
        </div>
      </div>
      

    </div>
  </div>
</body>`
</html>