<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header-component</title>
  <link rel="stylesheet" href="../../css/main.css">
  <link rel="stylesheet" href="../../css/layout.css">
  <link rel="stylesheet" href="../../css/component/headercomponent.css">
</head>
<body>
  <header class="header">
    <a href="../../html/mypage/mypage.html">
      <!-- 동적 렌더링 -->
      <div class="profile-wrap">
        <img src="../../img/profile.png" alt="계정 아이콘">
        <div class="nickname">닉네임</div>
      </div>
    </a>
    <a href="#">
      <button class="header-button logout">로그아웃</button>
    </a>
    <a href="#">
      <button class="header-button">권한 설정</button>
    </a>
  </header>
</body>
</html>