<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-Info</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/component/userinfo-component.css">
</head>
<body>
<div class="container">
    <div class="auth-container">
        <div class="auth-items" id="auth-user">User</div>
        <div class="auth-items" id="auth-manager">Manager</div>
        <div class="auth-items" id="auth-admin">Admin</div>
    </div>
    <div class="user-container" id="user">
        <div class="info">
            <!-- 동적 렌더링 -->
            <div class="info-wrap">
                <div class="info-container">
                    <p>이름</p>
                    <p class="nickname">(닉네임)</p>
                </div>
                <p class="login-id">login-id</p>
            </div>
            <select>
                <option value="user">user</option>
                <option value="manager">manager</option>
                <option value="admin">admin</option>
            </select>
        </div>
        <div class="info">
            <!-- 동적 렌더링 -->
            <div class="info-wrap">
                <div class="info-container">
                    <p>이름</p>
                    <p class="nickname">(닉네임)</p>
                </div>
                <p class="login-id">login-id</p>
            </div>
            <select>
                <option value="user">user</option>
                <option value="manager">manager</option>
                <option value="admin">admin</option>
            </select>
        </div>
        <div class="info">
            <!-- 동적 렌더링 -->
            <div class="info-wrap">
                <div class="info-container">
                    <p>이름</p>
                    <p class="nickname">(닉네임)</p>
                </div>
                <p class="login-id">login-id</p>
            </div>
            <select>
                <option value="user">user</option>
                <option value="manager">manager</option>
                <option value="admin">admin</option>
            </select>
        </div>
        <div class="info">
            <!-- 동적 렌더링 -->
            <div class="info-wrap">
                <div class="info-container">
                    <p>이름</p>
                    <p class="nickname">(닉네임)</p>
                </div>
                <p class="login-id">login-id</p>
            </div>
            <select>
                <option value="user">user</option>
                <option value="manager">manager</option>
                <option value="admin">admin</option>
            </select>
        </div>
        <div class="info">
            <!-- 동적 렌더링 -->
            <div class="info-wrap">
                <div class="info-container">
                    <p>이름</p>
                    <p class="nickname">(닉네임)</p>
                </div>
                <p class="login-id">login-id</p>
            </div>
            <select>
                <option value="user">user</option>
                <option value="manager">manager</option>
                <option value="admin">admin</option>
            </select>
        </div>
    </div>
    <div class="user-container" id="manager">
        <div class="info">
            <!-- 동적 렌더링 -->
            <div class="info-wrap">
                <div class="info-container">
                    <p>이름</p>
                    <p class="nickname">(닉네임)</p>
                </div>
                <p class="login-id">login-id</p>
            </div>
            <select>
                <option value="user">user</option>
                <option value="manager">manager</option>
                <option value="admin">admin</option>
            </select>
        </div>
    </div>
    <div class="user-container" id=admin>
        <div class="info">
            <!-- 동적 렌더링 -->
            <div class="info-wrap">
                <div class="info-container">
                    <p>이름</p>
                    <p class="nickname">(닉네임)</p>
                </div>
                <p class="login-id">login-id</p>
            </div>
            <select>
                <option value="user">user</option>
                <option value="manager">manager</option>
                <option value="admin">admin</option>
            </select>
        </div>
    </div>
</div>    
</body>
</html>